@import "bootstrap/scss/functions";
@import "bootstrap/scss/variables";

$body-font: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
$body-bg: $purple-900;
$body-color: $white;

@import "bootstrap/scss/maps";
@import "bootstrap/scss/mixins";
@import "bootstrap/scss/root";

.btn-invisible {
    --bs-btn-color: rgb(239, 192, 255);
    --bs-btn-hover-bg: rgb(45, 0, 85);
    border-radius: 0;
}
@include media-breakpoint-up(sm) {
    .row div:first-child .btn-invisible {
        border-top-left-radius: calc(var(--bs-border-radius) * 2);
        border-bottom-left-radius: calc(var(--bs-border-radius) * 2);
    }
    .row div:last-child .btn-invisible {
        border-top-right-radius: calc(var(--bs-border-radius) * 2);
        border-bottom-right-radius: calc(var(--bs-border-radius) * 2);
    }
}

.homepage-title {
    font-size: calc(($font-size-lg * 2) + 4vw);
}
@include media-breakpoint-up(sm) {
    .homepage-title {
        font-size: calc(($font-size-lg * 2.5) + 6vw);
    }
}
@include media-breakpoint-up(md) {
    .homepage-title {
        font-size: calc(($font-size-lg * 3) + 8vw);
    }
}
@include media-breakpoint-up(lg) {
    .homepage-title {
        font-size: calc(($font-size-lg * 3.5) + 10vw);
    }
}