body {
    background-color: rgb(181, 150, 255);
    color: rgb(59, 24, 94);
}

@media (prefers-color-scheme: dark) {
    body {
        background-color: rgb(25, 10, 40);
        color: rgb(223, 191, 255);
    }
}